* text=auto

# Enforce LF for Unity text assets
*.meta text eol=lf
*.cs text eol=lf
*.asmdef text eol=lf
*.asset text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.shader text eol=lf
*.compute text eol=lf
